<div class="container">
    <div class="row">
        <div class="col">
            <h1 class="lightGreyText">You have been logged out. You can log in at any time.</h1>
        </div>
    </div>
</div>
