<h1 style="color: lightgray">POSMS (Potato&Others Sales Management System)<br>You have to log in to do something
    useful. <br><br>
Demo account credentials: username: test@test.com <br> password: test</h1>