<div class="container">
    <div class="row">
        <div class="col lightGreyText">
            <h1>POSMS (Potato&Others Sales Management System)<br>You have to log in to do something
                useful. <br><br>
                Demo account credentials: username: test@test.com <br> password: test</h1>
        </div>
    </div>
</div>

