<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #6a0dad!important;">
    <a class="navbar-brand" href="#" style="color: white">Test Application</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <button type="button" class="btn btn-success" onclick="window.location='{{ path('login') }}'">Login
                </button>
            </li>

        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {{ include('fragments/content/welcome.html.twig') }}
            <div class="col-sm-2"></div>

        </div>
    </div>
</div>