{{ include('fragments/first_page_navigation_header.html.twig') }}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
            {% block message %}
                {{ include('fragments/content/welcome.html.twig') }}
            {% endblock %}

            <div class="col-sm-2"></div>

        </div>
    </div>
</div>