<div class="container">

    <div class="row infoHeader" style="margin-top: 10px">
        <div class="col-sm-5">
            Page name: {{ pageName }}
        </div>
        <div class="col-sm-5">
            User full name: {{ fullName }}
        </div>
        <div class="col-sm-2">
            <form class="form-inline my-2 my-lg-0" action="{{ path('logout') }}">
                <button class="btn btn-outline-danger my-2 my-sm-0">Logout</button>
            </form>
        </div>
    </div>
</div>