<div class="container">
    <div class="row">
        <div class="col">
            <br>
            <a href="{{ path('newProduct') }}">
                <button class="btn btn-info">New Product</button>
            </a>
            <a href="{{ path('productSalesReport') }}">
                <button class="btn btn-info">Sales</button>
            </a>
        </div>
    </div>
</div>


