{{ include('fragments/info_header.html.twig') }}
<nav class="navbar navbar-expand-lg navbar-dark bg-light-gray">
    {#    <a class="navbar-brand" href="#" style="border: 2px solid black;padding: 3px;">{{ pageName }}</a>#}
    {#    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"#}
    {#            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">#}
    {#        <span class="navbar-toggler-icon"></span>#}
    {#    </button>#}

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <button class="btn btn-done">New Product</button>
                </a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="#">
                    <button class="btn btn-done">Sales</button>
                </a>
            </li>
        </ul>

    </div>
</nav>
<container>
    <row>
        <div style="text-align: center">
            <br>
            <h1>Welcome! <br> Feel free to check out the potato sales report.</h1>
        </div>
    </row>

</container>