{{ include('fragments/info_header.html.twig') }}
{{ include('fragments/logged_in_navigation_header.html.twig') }}
<container>
    <row>
        <div class="alignCenter">
            <br>
            {% if customContentTemplate is defined %}
                {{ include(customContentTemplate) }}
            {% endif %}
        </div>
    </row>
</container>