<div class="container">
    {{ include('fragments/page_toast.html.twig') }}

    <div id="saleReports" class="table-responsive"></div>
</div>

<script>
    $(document).ready(function () {
        potatoAppModule.setSalesReportsBehavior();
    });
</script>


