<div class="container">
    {{ include('fragments/page_toast.html.twig') }}

    <div id="saleReports"></div>


    <div class="row bg-light">
        <div class="col border">
            <div class="row">Product ID</div>
            <div class="row">5068764589210</div>
            <div class="row">5746890234585</div>
            <div class="row">5449873501259</div>
            <div class="row">5639814580025</div>
        </div>
        <div class="col border">
            <div class="row">Product name</div>
            <div class="row">Yukon Gold Potatos</div>
            <div class="row">Butte Russet Potatos</div>
            <div class="row">Red Cloud Potatos</div>
            <div class="row">Charlotte Potatos</div>
        </div>
        <div class="col border">
            <div class="row">Sales</div>
            <div class="row">
                <div class="col border">
                    <div class="row">2019Q1</div>
                    <div class="row">120005</div>
                    <div class="row">24005</div>
                    <div class="row">97800</div>
                    <div class="row">97800</div>
                </div>
                <div class="col border">
                    <div class="row">2019Q2</div>
                    <div class="row">184557</div>
                    <div class="row">284500</div>
                    <div class="row">85300</div>
                    <div class="row">85300</div>
                </div>
                <div class="col border">
                    <div class="row">2019Q3</div>
                    <div class="row">150624</div>
                    <div class="row">290657</div>
                    <div class="row">87458</div>
                    <div class="row">87458</div>
                </div>
                <div class="col border">
                    <div class="row">2019Q4</div>
                    <div class="row">109383</div>
                    <div class="row">350022</div>
                    <div class="row">100000</div>
                    <div class="row">100000</div>
                </div>
            </div>
        </div>
        <div class="col border">
            <div class="row">Total sales</div>
        </div>
    </div>


</div>


<script>
    $(document).ready(function () {
        setSalesReportsBehavior();
    });
</script>


