<div class="container">
    {{ include('fragments/page_toast.html.twig') }}

        <div id="saleReports"></div>


</div>


<script>
    $(document).ready(function () {
        setSalesReportsBehavior();
    });
</script>


